.main-button {
  border: 1px blueviolet solid;
  background-color: transparent;
  color: blueviolet;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.text-area {
  border: 1px lightgray solid;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
