.text-input {
  width: 100%;
  padding: 8px;
  border: 1px lightgray solid;
  border-radius: 5px;
}

.main-button {
  border: 1px blueviolet solid;
  background-color: transparent;
  color: blueviolet;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  margin-top: 10px;
  list-style-type: disc;
}

li {
  color: rgb(129, 129, 129);
  font-size: 12px;
}
