<div class="container" style="margin-bottom: 40px;">
    <h4>Reset Password</h4>
    <hr>

    <form [formGroup]="form">
        <p class="section-title" style="margin-top:30px;">Email</p>
        <input 
        class="text-input"
        matInput
        type="text"
        formControlName="email"
        required>
    </form>

    <button (click)="openSnackBar('An email has been sent with instructions to reset your password','')" class="main-button">Request Password Reset</button>   

    <p style="margin-top:10px;font-size: 14px;color:rgb(129, 129, 129)"></p>
    <app-footer style="position: fixed;bottom:0"></app-footer>
</div>
