<div class="container">  
  <div class="row">
      <div class="col-lg-6">
        <div class="left-container">
          <div class="main-title">
            <h1>Create personalized <span>cover letters</span> in minutes</h1>
          </div>
          
          <p class="main-subtitle">Get past screening bots with a cover letter that makes amazing first impressions.</p>
          <button routerLink="register" class="main-button">Get Started</button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-container">
          <img class="main-image" src="../../../assets/main-right.png">
        </div>
      </div>
    </div>  
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="icon-container">
        <div class="icon-flex">
          <div class="icon">
            <img class="icon-image" src="../../../assets/rocket.png">
            <p class="icon-title">Quickly Generate</p>
            <p class="icon-subtitle">Create personalized cover letters tailored to the company in as little as 2 minutes.</p>
          </div>
          <div class="icon">
            <img class="icon-image" src="../../../assets/medal.png">
            <p class="icon-title">Proven Templates</p>
            <p class="icon-subtitle">Use our proven templates to generate cover letters in minutes.</p>
          </div>
          <div class="icon">
            <img class="icon-image" src="../../../assets/download.png">
            <p class="icon-title">Save and Export</p>
            <p class="icon-subtitle">Export completed cover letters to PDF, Google Docs, or Word.</p>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>

<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-lg-6">
      <div class="left-image-container">
        <img class="main-image" src="../../../assets/left-image.png">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="left-container">
        <div class="main-title">
          <h1>Job searching is tough.</h1>
        </div>
        <div>
          <p class="main-subtitle">Jobs get hundreds of applicants within an hour of being posted.</p>
          <p class="main-subtitle">How do you get your application to the top of the pile?</p>
          <p class="main-subtitle">Getting a referral is surely the best way, but is not always possible.</p>
        </div>
        
        <button routerLink="register" class="main-button">Get Started</button>
      </div>
    </div>
  </div>  
</div>

<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-lg-6">
      <div class="left-container">
        <div class="main-title">
          <h1>Include a Personalized Cover Letter.</h1>
        </div>
        <div>
          <p class="main-subtitle">The second best way to get your application to the top of the pile is to include a cover letter, but they require time and effort to create.</p>
        </div>
        <div>
          <a href="link">
            <p class="main-subtitle" routerLink="register" id="link">CLICK TO CREATE A COVER LETTER IN 2 MINUTES</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="left-image-container">
        <img class="main-image" src="../../../assets/right-image.png">
      </div>
    </div>
  </div>  
</div>

<div class="container-fluid" style="margin-top:80px;">
  <div class="container">
      <div class="icon-container">
        <div class="ready">
          <p class="icon-title" style="text-align: center;font-size:34px">Are you ready to start?</p>
          <p class="icon-subtitle" style="text-align: center;font-size: 18px;">It's free to use. If you'd like to save your templates, you can create an account.</p>
          <button routerLink="register" class="main-button" style="margin: auto;">Get Started</button>
        </div>
      </div>  
  </div>
</div>

<app-footer></app-footer>