<div class="container" *ngIf="loaded">
    <div class="header">
        <div class="header-items">
            <div class="company">
                {{company}}
            </div>
            <div class="title">
                {{title}}
            </div>
        </div>
        <div class="header-items">
            <div class="date">
                Last Modified: {{lastModified | idDate}}
            </div>
            <div class="icons-row">
                <button class="icon-button" mat-menu-item (click)="edit()">
                    <mat-icon class="icon">edit</mat-icon>
                </button>
                <button (click)="captureScreen()" class="icon-button" mat-menu-item>
                    <mat-icon class="icon">picture_as_pdf</mat-icon>
                </button>
                <button class="icon-button" mat-menu-item (click)="delete()">
                    <mat-icon class="icon">delete</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="preview-container">
        <div class="preview-body">
            <div [innerHTML]="body" id="export" class="body"></div>
        </div>
    </div>
</div>
